.dishes {
    padding-top: 100px;
    font-family: 'Montserrat';
    max-width: 1300px;
    margin: 0 auto;
}

.dishes__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
